{% extends 'layout.html.twig' %}

{% block title %}Edition d'un employé - PROCOM{% endblock %}

{% block content %}
    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-users"></i>&nbsp;Edition d'un employé</h1>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#"><i class="fa fa-home fa-lg"></i></a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Employés</a>
                </li>
                <li class="breadcrumb-item">Edition d'un employé</li>
            </ul>
        </div>
        <div class="tile">
            {{ include('form/form_' ~ type_form ~ 's.html.twig', { 'form' : form}) }}
        </div>
    </main>
{% endblock %}