<tr>
    <th>Prénom</td>
    <td>Jack</td>
</tr>
<tr>
    <th>Nom</td>
    <td>FROST</td>
</tr>
<tr>
    <th>Email</td>
    <td>jfrost@procom.com</td>
</tr>
<tr>
    <th>Métier</td>
    <td>Web developer</td>
</tr>
<tr>
    <th>Coût journalier</td>
    <td>200 €</td>
</tr>
<tr>
    <th>Date d'embauche</td>
    <td>1 mai 2018</td>
</tr>