<tr>
    <th>Intitulé</td>
    <td>{{ projet.intitule }}</td>
</tr>
<tr>
    <th>Description</td>
    <td>{{ projet.description }}</td>
</tr>
<tr>
    <th>Type</td>
    <td>{{ projet.type }}</td>
</tr>
<tr>
    <th>Est livré</td>
    <td>
        {% if projet.estLivre == 0 %}
            <span class="badge badge-success">OUI</span>
        {% else %}
            <span class="badge badge-danger">NON</span>
        {% endif %}
    </td>
</tr>
<tr>
    <th>Date de création</td>
    <td>{{ projet.date | date("d/m/Y") }}</td>
</tr>
<tr>
    <th>Coût total de production</td>
    <td>550 €</td>
</tr>
<tr>
    <th>Employés affectés</td>
    <td>15</td>
</tr>